<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <title>Search Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
   .layer1 {
    margin-left: 20;
    padding: 10px; /*
   }
  </style>
</head>
<header th:insert="blocks/header :: header"></header>
<body>
<td class="b-table_cell">
    <form class="software_engineering_class_form layer1"
          action="/search"
          role="search"
          aria-label="search from the locat file">
        <div class="search_input">
            <span class="search_span">
                    <input class="input_control" tabindex="2" spellcheck="false" aria-label="search" id="text" maxlength="400" name="posts_text"></span>
            </span>
        </div>
        <div class="search_button">
            <button class="search button" tabindex="-1" role="button" type="submit">
                <span class="button__text">Search</span>
            </button>
        </div>
        <div class="layer1">
            <p class="tab">
                <th:block th:if="${searchAttempted}">
                    <th:block th:if="${foundline}">
                        <th:block th:each="str, stat : ${foundline.split('\r\n|\r|\n', -1)}">
                            <th:block th:text="${str}"/>
                            <br th:if="${!stat.last}"/>
                        </th:block>
                    </th:block>
                </th:block>
            </p>
        </div>
    </form>
</td>
</body>
</html>